body {
	background: #000000db;
}

main {
	border: 0;
	margin-left: 1rem;
	margin-right: 1rem;
	padding-top: 1rem;
	color: lightsalmon;
}

main, header, footer {
	margin-left: auto;
	margin-right: auto;
}

main, footer, header {
	max-width: 800px;
}

nav {
	display: block;
	border: 0;
	color: lightsalmon;
}

.nav-bar {
	display: block;
	line-height: 2rem;
	padding: 0;
}

.nav-links {
	display: inline-block;
	white-space: nowrap;
	list-style-type: none;
}

.nav-item {
	display: inline;
}

a {
	color: aqua;
}
